<%= render "shared/header" %>

<div class="back-img-library">
  <div class="bkRGBA">
    <div class='main'>


      <div class='title-contents-flex'>
        <div class="title-contents-left">
          <h2 class='service-title'>
            図書館
          </h2>
        </div>
        <div class="title-contents-right">
          <div class='create-btn-content'>
            <%= link_to new_book_path, cass: 'create-btn', id: "create-btn" do %>
                <div class="create-btn">新しく図書カードに<br>記録する</div>
            <% end %>
          </div>
        </div>
      </div>

      <div class='category-tags-content'>
        <div class='category-tags'>
          <ul class="category-tags-menu">
            <li class="category-name active">すべて</li>
            <% @categories.each do |category| %>
              <li class="category-name"><%= category.name %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="book-contents-main">

        <%# 全ての書籍一覧 %>
        <ul class='book-contents show'><%= render partial: 'book', collection: @books %></ul>
        <%# //全ての書籍一覧 %>
        <%# カテゴリ別の書籍一覧 %>
        <ul class='book-contents'>
          <% if @books1.present? %>
            <%= render partial: 'book', collection: @books1 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>  
          <% if @books2.present? %>
            <%= render partial: 'book', collection: @books2 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books3.present? %>
            <%= render partial: 'book', collection: @books3 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books4.present? %>
            <%= render partial: 'book', collection: @books4 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books5.present? %>
            <%= render partial: 'book', collection: @books5 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books6.present? %>
            <%= render partial: 'book', collection: @books6 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books7.present? %>
            <%= render partial: 'book', collection: @books7 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books8.present? %>
            <%= render partial: 'book', collection: @books8 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books9.present? %>
            <%= render partial: 'book', collection: @books9 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books10.present? %>
            <%= render partial: 'book', collection: @books10 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books11.present? %>
            <%= render partial: 'book', collection: @books11 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books12.present? %>
            <%= render partial: 'book', collection: @books12 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books13.present? %>
            <%= render partial: 'book', collection: @books13 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books14.present? %>
            <%= render partial: 'book', collection: @books14 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books15.present? %>
            <%= render partial: 'book', collection: @books15 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books16.present? %>
            <%= render partial: 'book', collection: @books16 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <ul class='book-contents'>
          <% if @books17.present? %>
            <%= render partial: 'book', collection: @books17 %>
          <% else %>
            対象カテゴリの書籍はありません
          <% end %>
        </ul>
        <%# //カテゴリ別の書籍一覧 %>

      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>
