<%= render "shared/header" %>

<div class="back-img-library">
  <div class="bkRGBA">
    <div class='main'>


      <div class='title-contents-flex'>
        <div class="title-contents-left">
          <h2 class='service-title'>
            図書館
          </h2>
        </div>
        <div class="title-contents-right">
          <div class='create-btn-content'>
            <%= link_to new_book_path, cass: 'create-btn', id: "create-btn" do %>
                <div class="create-btn">新しく図書カードに<br>記録する</div>
            <% end %>
          </div>
        </div>
      </div>

      <div class='category-tags-content'>
        <div class='category-tags'>
          <ul class="category-tags-menu">
            <li class="category-name active">すべて</li>
            <% @categories.each do |category| %>
              <li class="category-name"><%= category.name %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="book-contents-main">

        <%# 全ての書籍一覧 %>
        <ul class='book-contents show'>
          <%= render partial: 'book', collection: @books %>
        </ul>
        <%# //全ての書籍一覧 %>
        <%# カテゴリ別の書籍一覧 %>
        <ul class='book-contents'><%= render partial: 'book', collection: @books1 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books2 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books3 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books4 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books5 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books6 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books7 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books8 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books9 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books10 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books11 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books12 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books13 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books14 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books15 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books16 %></ul>
        <ul class='book-contents'><%= render partial: 'book', collection: @books17 %></ul>
        <%# //カテゴリ別の書籍一覧 %>

      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>
