<%= render "shared/header" %>

<div class="back-img-library">
  <div class="bkRGBA-flex">

    <div class="book-search-form">
      <%# 外部検索フォーム %>
      <div class="book-search-form-left">
        <%#= form_with(url: search_books_path, local: true, method: :get, class: 'book-registration-sub', id: 'book-registration-sub') do |f| %>
        <div class="book-registration-sub">
          <div class='book-form-wrap-search'>
            <div class='form-header'>
              <h2 class='form-header-text'>
                外部検索
              </h2>
            </div>

            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">キーワード</label>
                <span class="indispensable">必須</span>
              </div>
              <%#= f.text_field :keyword, class:"input-default", id:"search_keyword", placeholder:"書籍名を入力してください" %>
              <input type="text" name="keyword", class="input-default", id="search_keyword", placeholder="書籍名を入力してください">
            </div>
            
            <div class='register-btn'>
              <input type="submit" name="commit" valuse="検索する" class="book-search-btn" id="book-search-btn" data-disable-with="検索する">
              <%#= f.submit "検索する" ,class:"book-search-btn", id:"book-search-btn" %>
            </div>
          </div>
        </div>
        <%# end %>

        <div class="book-registration-sub">
          <div class='book-form-wrap-search'>
            <div class='form-header'>
              <h2 class='form-header-text'>
                検索結果
              </h2>
            </div>
            <div class="search-results">
              <div class="search-result">
                  <div class="search-result-img">画像URL</div>
                  <div class="search-result-title">書籍名</div>
                  <div class="search-result-author">著者名</div>
                <% if @books.present? %>
                  <% @books.each do |book| %>
                    <div class="search-result-img"><%= link_to image_tag("#{book.medium_image_url}"), book.item_url %></div>
                    <div class="search-result-title"><%= book.title %></div>
                    <div class="search-result-author"><%= book.author %></div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%# 新規投稿フォーム %>
      <div class="book-search-form-right">
        <%= form_with model: @book, url: books_path, class: 'book-registration-sub book-registration-form', local: true do |f| %>
          <div class='form-wrap book-form-wrap'>
            <div class='form-header'>
              <h2 class='form-header-text'>
                図書カード新規記録
              </h2>
            </div>

            <%= render 'shared/error_messages', model: f.object %>
            
            <div class="form-group">  
              <div class='form-text-wrap'>
                <label class="form-text">書籍画像</label>
                <span class="indispensable">必須</span>
              </div>
              <%= f.file_field :image, class:"input-default-image", id:"book_img" %>
            </div>

            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">書籍名</label>
                <span class="indispensable">必須</span>
              </div>
              <%= f.text_field :book_title, class:"input-default", id:"book_title", placeholder:"書籍名を入力してください", autofocus: true %>
            </div>

            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">著者名</label>
                <span class="indispensable">必須</span>
              </div>
              <%= f.text_field :author, class:"input-default", id:"author", placeholder:"著者名を入力してください" %>
            </div>

            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">出版年月日</label>
              </div>
              <%= f.text_field :published_date, class:"input-default", id:"published_date", placeholder:"出版年月日を入力してください" %>
            </div>

            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">カテゴリー</label>
                <span class="indispensable">必須</span>
              </div>
              <%= f.collection_select(:category_id, Category.all, :id, :name, {}, { class:"input-default", id:"category_id" }) %>
            </div>
            
            <div class="form-group">
              <div class='form-text-wrap'>
                <label class="form-text">紹介文</label>
                <span class="indispensable">必須</span>
              </div>
              <%= f.text_area :book_introduction, class:"input-default", id:"book_introduction", placeholder:"書籍の紹介文を自由に書きましょう！" %>
            </div>
            
            <div class='register-btn'>
              <%= f.submit "登録する" ,class:"register-red-btn" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<%= render "shared/footer" %>
